#
# {{ ansible_managed }}
#

[cache]

STORAGE_DIR    = /var/lib/graphite/
CONF_DIR       = /etc/carbon/
LOG_DIR        = /var/log/carbon/
PID_DIR        = /var/run/

LOCAL_DATA_DIR = /var/lib/graphite/whisper/
ENABLE_LOGROTATION = False
USER = _graphite

MAX_CACHE_SIZE = inf
MAX_UPDATES_PER_SECOND = 500
MAX_CREATES_PER_MINUTE = 50

LOG_LISTENER_CONNECTIONS = True

USE_INSECURE_UNPICKLER = False
USE_FLOW_CONTROL = True

LOG_UPDATES = False
LOG_CACHE_HITS = False
LOG_CACHE_QUEUE_SORTS = True

CACHE_WRITE_STRATEGY = sorted

WHISPER_AUTOFLUSH = False
WHISPER_FALLOCATE_CREATE = True


# default cache:a
LINE_RECEIVER_INTERFACE = 0.0.0.0
LINE_RECEIVER_PORT = {{ carbon_line_port_start }}

PICKLE_RECEIVER_INTERFACE = 0.0.0.0
PICKLE_RECEIVER_PORT = {{ carbon_pickle_port_start }}

CACHE_QUERY_INTERFACE = 0.0.0.0
CACHE_QUERY_PORT = {{ carbon_cache_port_start  }}

{% for cache_id in range(1,carbon_caches|int) %}  
[cache:{{ cache_id|cache_enum }}]

LINE_RECEIVER_INTERFACE = 0.0.0.0
LINE_RECEIVER_PORT = {{ carbon_line_port_start|int + cache_id }}

PICKLE_RECEIVER_INTERFACE = 0.0.0.0
PICKLE_RECEIVER_PORT = {{ carbon_pickle_port_start|int + cache_id }}

CACHE_QUERY_INTERFACE = 0.0.0.0
CACHE_QUERY_PORT = {{ carbon_cache_port_start|int + cache_id }}

{% endfor %}


[relay]
LINE_RECEIVER_INTERFACE = 0.0.0.0
LINE_RECEIVER_PORT = 2003
PICKLE_RECEIVER_INTERFACE = 0.0.0.0
PICKLE_RECEIVER_PORT = 2004

LOG_LISTENER_CONNECTIONS = True

RELAY_METHOD = consistent-hashing

REPLICATION_FACTOR = {{ graphite_replication_factor }}

DESTINATIONS = {% for host in groups[graphite_groupname] -%}
    {%- set outer_loop = loop -%}
	{% for cache_id in range(0,carbon_caches|int) -%}  
		{{ host|resolve_host }}:{{ carbon_pickle_port_start|int + cache_id }}:{{ cache_id|cache_enum }}{% if not (loop.last and outer_loop.last) %},{% endif -%}
	{%- endfor %}
{%- endfor %}

MAX_DATAPOINTS_PER_MESSAGE = 500
MAX_QUEUE_SIZE = 10000

USE_FLOW_CONTROL = True


